@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.search-input{
    min-width: 250px;
    margin-right: 5px;
    height: 30px;
}

#search-btn{
    height: 30px;
}

/* .scroller {
    max-width: 600px;
    border: 3px solid lime;
}

.scroller_inner {
    padding-block: 1rem;
    display: flex
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"]{
    overflow: hidden;

    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);



    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
} */