@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.search-input{
    min-width: 250px;
    margin-right: 5px;
    height: 30px;
}

#search-btn{
    height: 30px;
}

#search-btn{
    height: 30px;
}

#search-btn-to-search{
    background-color: #76C893;
}

.title {
    color: #B5E48C;
    background-color: #184E77;

}

body { 
    background-color: #1A759F;
}

header {
    background-color: #184E77;
}

.container {
    background-color: #1A759F;
}

.box {
    background-color: #34A0A4;
}

.result-title {
    color: whitesmoke;
    background-color: #1A759F;
}

/* .scroller {
    max-width: 600px;
    border: 3px solid lime;
}

.scroller_inner {
    padding-block: 1rem;
    display: flex
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"]{
    overflow: hidden;

    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);



    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller_inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - .5rem));
    }
} */
#search-results{
    text-align: center;
    align-content: center;
    align-items: center;
    
}

#search-results li{
    text-align: center;
    margin: 5px;
    background-color: whitesmoke;  
    height: 375px;
    border-radius: 5px;
    flex-wrap: wrap;
    display: block;
}
#search-results img{
    margin-left: auto;
    margin-right: auto;   
    align-self: center;
    display: block;
    aspect-ratio: 2/3;
    max-height: 315px;
}

#title-card{
    cursor: pointer;
}
#movie-poster{
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    display: block;
    aspect-ratio: 2/3;
    width: 200px;
    border: 10px solid #34A0A4;
    border-radius: 6px;
}

.details{
    height: 324px;
    
}

.video-container {
    aspect-ratio: 16/9;
    position: relative;
    width: 50%; 
    padding-bottom: 56.25%; 
    margin: auto;
}

.video-container iframe {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    
}
